a {
  color: #3B8BBA;
  text-decoration: none;

  &:hover {
    color: #3578E5;
    text-decoration: none;
  }
}
form {
  min-width: 350px;
  padding: 0 20px 10px;

  input {
    line-height: 1;
  }
}
.pure-form fieldset + fieldset {
  margin-top: .5em;
}
.pure-form legend {
  font-size: 1.125em;
}
.label {
  background: #fafafa;
  color: #333;
  padding: .2em .4em;
  font-size: .5em;
  border: .1rem solid rgba(0, 0, 0, .05);
  border-radius: .2rem;
}
.pure-form .pure-checkbox {
  display: flex;

  input {
    margin-right: .5em;
  }
}
.hint {
  background: #FFFFF3;
  color: #333;
  padding: .4em .8em;
  font-size: .875em;
  border: .1rem solid rgba(0, 0, 0, .1);
  border-radius: .4rem;
}
footer {
  font-size: .875em;
  padding: 16px 20px;
  background: #FAFAFA;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #EEE;
}
.more-and-more {
  text-align: center;
}
.copyright {
  margin: 4px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;

  li + li:before {
    content: '‧';
    margin: 0 5px;
  }
}

.align-item-center {
  align-items: center !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.full-width {
  width: 100%;
}